~/.cfg
~/Applications/
~/Desktop/
~/Documents/
~/Downloads/
~/Dropbox/
~/Library/
~/Movies/
~/Music/
~/Pictures/
~/Public/
~/cfg/vim/plugged/
~/projects/


../.cfg
../Applications/
../Desktop/
../Documents/
../Downloads/
../Dropbox/
../Library/
../Movies/
../Music/
../Pictures/
../Public/
../cfg/vim/plugged/
../projects/

.cfg/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
cfg/vim/plugged/
projects/

.CFUserTextEncoding
.dropbox/
.config/coc
.vim/
.python_history
.node_repl_history
.local/
.DS_Store
.nvimlocal
.ctags
.config/nvim/autoload
.lesshst
.bash_history
.bash_sessions/
.cache/
.npm/
.ssh/
.tig_history
.zsh_history
.Trash
.flow-typed
.yarnrc
.config/qBittorrent/
.config/iterm2/
.viminfo
.node-gyp/
.fzf
.pyenv
.zcompdump-*



IGNORE/
