<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>335C1997-1A4A-417B-8624-8370A3657D2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C496A89-0A1D-4F47-BB9E-15B190A20707</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E8CC2C5-7704-4A53-9978-DDE3781EA896</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50A91644-7C3D-49DB-8AC3-3C86D77E5A12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50A91644-7C3D-49DB-8AC3-3C86D77E5A12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE9208FD-8B40-4152-8D9A-8E8E87B7C650</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B18B7FE-3197-4A27-85D2-F7362E9343FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D522459-AF54-4220-A6B7-374E6092D489</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C894B48-DF0A-42D3-9849-548105EF8BFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C276280B-6DDB-4CC8-837B-1020F2F39DB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C496A89-0A1D-4F47-BB9E-15B190A20707</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F3DC102-10EC-4331-9240-C6B114178D50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF46D0A3-E8F3-4569-AC5A-AB7E6429AD2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B18B7FE-3197-4A27-85D2-F7362E9343FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C276280B-6DDB-4CC8-837B-1020F2F39DB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A47BE69A-49B6-4BBD-8668-C87E13DEAFDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>health</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>health</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7D522459-AF54-4220-A6B7-374E6092D489</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>python3 /Users/sherwin/projects/garmin-grabber/python-garminconnect/example.py c | jq '{sleepScore: .dailySleepDTO.sleepScores.overall.value, duration: .dailySleepDTO.sleepTimeSeconds, sleepStress: .dailySleepDTO.avgSleepStress, rhr: .restingHeartRate}' | jq .rhr</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B18B7FE-3197-4A27-85D2-F7362E9343FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>rhr</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>BF46D0A3-E8F3-4569-AC5A-AB7E6429AD2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>sleep stress</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>5C894B48-DF0A-42D3-9849-548105EF8BFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A47BE69A-49B6-4BBD-8668-C87E13DEAFDA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>python3 /Users/sherwin/projects/garmin-grabber/python-garminconnect/example.py c | jq '{sleepScore: .dailySleepDTO.sleepScores.overall.value, duration: .dailySleepDTO.sleepTimeSeconds, sleepStress: .dailySleepDTO.avgSleepStress, rhr: .restingHeartRate}' | jq .sleepStress</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C276280B-6DDB-4CC8-837B-1020F2F39DB8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>python3 /Users/sherwin/projects/garmin-grabber/python-garminconnect/example.py c | jq '{sleepScore: .dailySleepDTO.sleepScores.overall.value, duration: .dailySleepDTO.sleepTimeSeconds, sleepStress: .dailySleepDTO.avgSleepStress, rhr: .restingHeartRate}' | jq .sleepScore</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9C496A89-0A1D-4F47-BB9E-15B190A20707</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5F3DC102-10EC-4331-9240-C6B114178D50</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>sleep score</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>335C1997-1A4A-417B-8624-8370A3657D2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>python3 /Users/sherwin/projects/garmin-grabber/python-garminconnect/example.py c | jq '{sleepScore: .dailySleepDTO.sleepScores.overall.value, duration: .dailySleepDTO.sleepTimeSeconds, sleepStress: .dailySleepDTO.avgSleepStress, rhr: .restingHeartRate}' | jq .sleepScore</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>50A91644-7C3D-49DB-8AC3-3C86D77E5A12</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DE9208FD-8B40-4152-8D9A-8E8E87B7C650</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>sleep score</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>3E8CC2C5-7704-4A53-9978-DDE3781EA896</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This Snippet Trigger example workflow contains 4 types of actions:

1. Triggering a system command
2. Running a script and pasting the output text
3. Requiring you enter free text and pasting the output
4. Choosing from a list and pasting the output

You'll find out more about this feature in the Snippet Trigger object documentation on our website.

Need help with workflows? Pop by the forum (alfredforum.com) if you have any further questions :)</string>
	<key>uidata</key>
	<dict>
		<key>335C1997-1A4A-417B-8624-8370A3657D2B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>1. Trigger the workflow with the snippet trigger you've set to \\greetmsg</string>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>3E8CC2C5-7704-4A53-9978-DDE3781EA896</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>1. Trigger the workflow with the snippet trigger you've set to \\greetmsg</string>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>50A91644-7C3D-49DB-8AC3-3C86D77E5A12</key>
		<dict>
			<key>note</key>
			<string>2. The script chooses the greeting based on time of day.</string>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>5B18B7FE-3197-4A27-85D2-F7362E9343FB</key>
		<dict>
			<key>note</key>
			<string>2. The script chooses the greeting based on time of day.</string>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>5C894B48-DF0A-42D3-9849-548105EF8BFC</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>1. Trigger the workflow with the snippet trigger you've set to \\greetmsg</string>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>5F3DC102-10EC-4331-9240-C6B114178D50</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>3. The script's content (which sets the time of day) is pasted to the frontmost app.</string>
			<key>xpos</key>
			<real>1170</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>7D522459-AF54-4220-A6B7-374E6092D489</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>3. The script's content (which sets the time of day) is pasted to the frontmost app.</string>
			<key>xpos</key>
			<real>1155</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>9C496A89-0A1D-4F47-BB9E-15B190A20707</key>
		<dict>
			<key>note</key>
			<string>2. The script chooses the greeting based on time of day.</string>
			<key>xpos</key>
			<real>980</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>A47BE69A-49B6-4BBD-8668-C87E13DEAFDA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>3. The script's content (which sets the time of day) is pasted to the frontmost app.</string>
			<key>xpos</key>
			<real>1165</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>BF46D0A3-E8F3-4569-AC5A-AB7E6429AD2A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>1. Trigger the workflow with the snippet trigger you've set to \\greetmsg</string>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>C276280B-6DDB-4CC8-837B-1020F2F39DB8</key>
		<dict>
			<key>note</key>
			<string>2. The script chooses the greeting based on time of day.</string>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>DE9208FD-8B40-4152-8D9A-8E8E87B7C650</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>3. The script's content (which sets the time of day) is pasted to the frontmost app.</string>
			<key>xpos</key>
			<real>1185</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
